@charset "utf-8";

/* --------초기세팅-------- */
* {
    margin: 0;
    padding: 0;
    font-family: "score";
    list-style: none;
    text-decoration: none;
    text-align: justify;
}
a {
    color: black;
}
@font-face {
    font-family: "score";
    src: url("../fonts/SCDream3.otf");
}
.EN {
    display: none !important;
}
.content_title {
    font-size: 61px;
    padding-bottom: 15px;
}
.under_line {
    display: inline;
    border-bottom: 3px solid rgb(189, 33, 62);
}
.Main {
    font-weight: bold;
}
/* --------상단으로 가기 버튼-------- */
#topButton {
    position: fixed;
    top: 90%;
    left: 95%;
    width: 60px;
    height: 60px;
    background-color: rgba(189, 33, 62, 0.9);
    z-index: 99;
    border-radius: 50%;
    text-align: center;
    border: none;
    color: white;
    transition: .3s;
}
/* --------헤더-------- */
.header {
    position: relative;
    width: 100%;
    height: 1024px;
    background: url("../image/pool.jpg") center center fixed; 
    background-size: cover;
}
.header > .header_wrap {
    display: flex;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    z-index: 3;
}
.header > .header_wrap.on {
    border-bottom: 2px solid rgb(189, 33, 62);
}
.header > .header_wrap > .header_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} 
.header > .header_wrap > .header_menu { 
    display: flex;
    justify-content: space-between;
    flex-basis: 1200px;
    min-width: 500px;
    margin: 0 auto;
    align-items: center;
    padding: 0px 20px;
}
.header > .header_wrap > .header_menu > .header_text {
    display: flex;
    font-weight: bold;
    cursor: pointer;
}
.header > .header_wrap > .header_menu > .header_text > p { 
    padding: 0 10px;
}
.header > .header_wrap > .header_menu > .header_text > i {
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.header > .header_wrap > .header_menu > .header_text > .reserve { 
    text-decoration: underline;
}
.header > .header_wrap > .header_menu > .header_bar > .menu-btn > .line {
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    margin: 3px;
    cursor: pointer;
    transition: .3s;
}
.header > .header_reserve {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-basis: 800px;
    min-width: 550px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 50px;
    box-shadow: 0px 3px 5px 1px black;
}
.header > .header_reserve > .content_text {
    padding: 0 15px;
    display: flex;
}
.header > .header_reserve > .content_text > span {
    margin: 0 1.5vw;
    line-height: 50px;
    height: 65px;
}
.header > .header_reserve > .content_text > span:nth-last-child(1) {
    color: rgb(189, 33, 62);
    font-weight: bold;
    font-size: 22px;
    line-height: 70px;
    position: relative;
}
.header > .header_reserve > .content_text > span:not(:nth-last-child(1)) {
    content: "";
    border-bottom: 2px solid white;
}
.header > .header_topdown {
    position: fixed;
    width: 100%;
    height: 700px;
    top: -800px;
    margin-top: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 60px;
    transition: 1s;
    z-index: 1;
    padding-top: 50px;
}
.header > .header_topdown.on {
    top: 0px;
    z-index: 2;
}
.header > .header_topdown > .content_wrap > .content_text > span {
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.header > .header_topdown > .content_wrap > .content_text > span::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 2px;
    top: 100px;
    background-color: rgb(189, 33, 62);
    transition: .3s;
}
.header > .header_topdown > .content_wrap > .content_text > span:hover::after {
    width: 200px;
}
.line.on:nth-child(1) {
    transform: rotate(45deg) translateY(4px) translateX(4px);
}
.line.on:nth-child(2) {
    opacity: 0;
}
.line.on:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px) translateX(6px);
}
/* --------컨텐츠 1번-------- */
.content_1 {
    margin: 0 auto;
    margin-top: 150px;
}
.content_1 > .content_wrap {   
    max-width: 1200px;
    width: 100%;
    height: 680px;
    display: grid;
    grid-template-columns: 42.5% 53.5%;
    grid-template-rows: repeat(2, 50%);
    gap: 0 20px;
    margin: 0 auto;
}
.content_1 > .content_wrap > .inside {
    grid-row: 1/3;
    background: url("../image/inside.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_1 > .content_wrap > .outlook {
    background: url("../image/outlook.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_1 > .content_wrap > .content_text {
    height: auto;
}
.content_1 > .content_wrap > .content_text > .content_sub {
    font-size: 15px;
    padding-right: 20px;
}
/* --------컨텐츠 2번-------- */
.content_2 {
    margin-top: 150px;
    max-height: 1024px;
}
.content_2 > .content_wrap {   
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.content_2 > .content_wrap > .content_images {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}
.content_2 > .content_wrap > .content_images > .table_item {
    display: table-cell;
    width: 20%;
    transition:1s ease-in-out;
    position: relative;
}
.content_2 > .content_wrap > .content_images > .table_item > p {
    width: 500px;
    position: absolute;
    color: whitesmoke;
    top: 15px;
    left: 40px; 
    transform: rotate(90deg);
    transform-origin: left top;
    transition: .3s;
    font-size: 16px;
    text-shadow: 1px 1px 7px #000;
}
.content_2 > .content_wrap > .content_images > .table_item:hover {
    width: 180%;
}
.content_2 > .content_wrap > .content_images > .table_item:hover p{
    color: transparent;
    text-shadow: 0 0 0 transparent;
}
.content_2 > .content_wrap > .content_images_text {
    display: flex;
    height: auto;
}
.content_2 > .content_wrap > .content_images_text > .content_title > .content_main {
    font-weight: normal;
    font-size: 15px;
}
.content_2 > .content_wrap > .content_images_text > .content_title > .color {
    font-size: 34px;
    color: rgb(189, 33, 62);
}
.content_2 > .content_wrap > .content_images_text > .content_sub {
    max-width: 650px;
    padding-left: 20px;
    font-size: 15px;
}
.content_2 > .content_wrap > .content_text {
    display: flex;
}
.content_2 > .content_wrap > .content_text > .content_sub {
    max-width: 550px;
    align-self: flex-end;
    padding-bottom: 9px;
}
/* --------컨텐츠 3번-------- */
.content_3 {
    margin-top: 100px;
}
.content_3 > .content_wrap {   
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.content_3 > .content_wrap > .content_images {
    display: grid;
    max-width: 1200px;
    height: 900px;
    width: 100%;
    grid-template-columns: repeat(3, 32.25%);
    grid-template-rows: repeat(2, 48.8%);
    gap: 20px;
}
.content_3 > .content_wrap >.content_images >.content_item {
    position: relative;
    cursor: pointer;
}
.content_3 > .content_wrap >.content_images >.content_item:nth-child(1) {
    grid-column: 1/3;
    background: url("../image/room1.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_3 > .content_wrap >.content_images >.content_item:hover::before {
    content: "프리미엄";
}
.content_3 > .content_wrap >.content_images >.content_item.on:hover::before {
    content: "Premium";
}
.content_3 > .content_wrap >.content_images >.content_item:nth-child(2) {
    background: url("../image/room2.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_3 > .content_wrap >.content_images >.content_item:nth-child(2):hover::before {
    content: "프레지덴셜";
}
.content_3 > .content_wrap >.content_images >.content_item.on:nth-child(2):hover::before {
    content: "Presidential";
}
.content_3 > .content_wrap >.content_images >.content_item:nth-child(3) {
    background: url("../image/room3.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_3 > .content_wrap >.content_images >.content_item:nth-child(3):hover::before {
    content: "디럭스";
}
.content_3 > .content_wrap >.content_images >.content_item.on:nth-child(3):hover::before {
    content: "Deluxe";
}
.content_3 > .content_wrap >.content_images >.content_item:nth-child(4) {
    grid-column: 2/4;
    background: url("../image/room4.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content_3 > .content_wrap >.content_images >.content_item:nth-child(4):hover::before {
    content: "스위트";
}
.content_3 > .content_wrap >.content_images >.content_item.on:nth-child(4):hover::before {
    content: "Suite";
}
.content_3 > .content_wrap >.content_images >.content_item:hover::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: red;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 7px black;
}
.content_3 > .content_wrap >.content_images > .img:hover::after {
    content: "더보기";
    color: white;
    text-align: center;
    top: 52%;
    position: absolute;
    width: 100%;
    height: 100%;
}
.content_3 > .content_wrap >.content_images > .img.on:hover::after {
    content: "More";
}
.content_3 > .content_wrap > .content_text {
    display: flex;
}
.content_3 > .content_wrap > .content_text > .content_sub {
    align-self: flex-end;
    padding-bottom: 9px;
    padding-left: 20px;
}
/* --------컨텐츠 4번-------- */
.content_4 {
    margin-top: 150px;
}
.content_4 > .content_text {
    max-width: 1200px;
    margin: 0 auto;
}
.content_4 > .content_wrap {  
    position: relative; 
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow: hidden;
}
.slick-dots {
    top: 0;
    left: 580px;
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 900px;
    background-color: white;
    transition: 1.4s;
    transition-delay: .3s;
}
.slick-one {
    position: relative;
    max-width: 1200px;
}
.content_4 .content_img {
    max-width: 650px;
    height: 900px;
    transition: 1s;
    cursor: pointer;
}
.content_4 .content_img.on {
    max-width: 1200px;
    transition: 1s;
}
.content_4 .hotpot {
    background: url("../image/hotpot.jpg") center;
    background-size: cover;
}
.content_4 .noknamu {
    background: url("../image/noknamu.jpg") center;
    background-size: cover;
}
.content_4 .grandkit {
    background: url("../image/grandkit.jpg") center;
    background-size: cover;
}
.content_4 .pocha {
    background: url("../image/pocha.jpg") center;
    background-size: cover;
}
.content_4 .casino {
    background: url("../image/casino.jpg") center;
    background-size: cover;
}
.content_4 .steakhouse {
    background: url("../image/steakhouse.jpg") center;
    background-size: cover;
}
.content_4 .china {
    background: url("../image/china.jpg") center;
    background-size: cover;
}
.content_4 .yume {
    background: url("../image/yume.jpg") center;
    background-size: cover;
}
.slick-dots.on {
    left: 1055px;
    background-color: white;
    transition: 1s;
}
.slick-dots > li {
    padding: 20px;
}
.slick-dots > li > button::before {
    color: transparent;
    background-color: rgb(66, 66, 66);
    width: 7px;
    height: 44px;
}
.slick-dots li.slick-active button::before {
    color: transparent;
    background-color: rgb(160, 0, 29);
    height: 44px;
}
.content_4 > .content_wrap > .content_img_text {
    position: absolute;
    left: 50%;
    max-width: 550px;
    padding-left: 20px;
    padding-right: 200px;
    height: 900px;
    background-color: white;
    color: black;
    white-space: pre-line;
    transition: 1s;
}
.content_4 > .content_wrap > .content_img_text.on {
    max-width: 10px;
    left: 90%;
    color: transparent;
    background-color: white;
    transition: 1.4s;
}
.content_4 > .content_wrap > .content_img_text > p.on {
    display: none;
}
.content_4 > .content_wrap > .content_img_text > p {
    font-size: 15px;
}
.content_4 > .content_wrap > .content_img_text > h3 {
    font-size: 34px;
    color: rgb(189, 33, 62);
}
.content_4 > .content_wrap > .content_img_text > .sub,
.content_4 > .content_wrap > .content_img_text > .sub_EN,
.content_4 > .content_wrap > .content_img_text > .sub_2,
.content_4 > .content_wrap > .content_img_text > .sub_2_EN{
    font-size: 22px;
}
.content_4 > .content_text {
    display: flex;
}
.content_4 > .content_text > .content_sub {
    align-self: flex-end;
    padding-left: 20px;
    padding-bottom: 9px;
}
/* --------푸터-------- */
.footer {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 50px;
}
.footer > .footer_wrap {
    background-color: rgb(165, 191, 248);
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 160px;
    margin: 0 auto;
}
.footer > .footer_logo {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer > .footer_logo > .bottom_logo {
    position: absolute;
    top: 170px;
    right: 0;
    z-index: 1;
}
.footer > .footer_wrap > .footer_text {
    max-width: 1200px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 11px;
    margin: 0 auto;
}
.footer > .footer_wrap > .footer_text > .footer_text_left {
    padding-left: 10px;
}
.footer > .footer_wrap > .footer_text > .footer_text_left > p {
    padding: 5px;
}
.footer > .footer_wrap > .footer_text > .footer_text_right {
    padding-right: 10px;
}
.footer > .footer_wrap > .footer_text > .footer_text_right > p {
    padding: 5px;
}
.footer > .footer_wrap > .footer_text > .footer_text_bottom {
    display: flex;
    max-width: 1200px;
    padding-top: 30px;
}
.footer > .footer_wrap > .footer_text > .footer_text_bottom > p::after {
    content: "";
    border-right: 1px solid #000;
    margin: 10px;
}
.footer > .footer_wrap > .footer_text > .footer_text_bottom > p:nth-last-child(1)::after {
    content: "";
    border-right: 0px solid #000;
}

@media screen and (min-width:641px) and (max-width:1024px) {
    html {
        padding: 3px;
    }
    #topButton {
        top: 85%;
        left: 85%;
    }   
    .header > .header_wrap {
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(3px);
    }
    .header > .header_wrap > .header_logo {
        left: 4%;
        transform: translateX(0);
        padding-top: 15px;
    }
    .header > .header_wrap > .header_logo > a > img {
        width: 250px;
        height: 60px;
        content:url("../image/tablogo.png");
    }
    .header > .header_wrap > .header_menu {
        justify-content: flex-end;
        padding-right: 150px;
    }
    .header > .header_wrap > .header_menu > .header_text {
        color: white;
    }
    .header > .header_wrap > .header_menu > .header_text > .language > a {
        color: white;
    }
    .header > .header_wrap > .header_menu > .header_bar > .menu-btn > .line {
        background-color: white;
    }
    .header > .header_wrap > .header_menu > .header_bar {
        position: absolute;
        left: 93%;
    }
    .header > .header_topdown {
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(3px);
        padding-top: 0px;
        height: 600px;
        top: -725px;
    }
    .header > .header_topdown.on {
        top: 0px;
        z-index: 2;
    }
    /* --------------컨텐츠 1번------------- */
    .content_1 > .content_wrap {
        max-width: 1024px;
        max-height: 550px;
    }
    .content_1 > .content_wrap > .content_text > .content_title {
        font-size: 32px;
    }
    .content_1 > .content_wrap > .content_text > .content_sub {
        padding-right: 10px;
        text-align: justify;
    }
    .content_1 > .content_wrap > .inside {
        background-image: url("../image/tabcontent.jpg");
    }
    .content_1 > .content_wrap > .outlook {
        background-image: url("../image/tab-night.jpg");
    }
    /* --------------컨텐츠 2번------------- */
    .content_2 > .content_wrap {
        max-width: 1024px;
        max-height: 768px;
    }
    .content_2 > .content_wrap > .content_text  {
        width: 100%;
        display: flex;
    }
    .content_2 .content_title {
        width: 300px; 
        font-size: 32px;
    }
    .content_2 img {
        width: 100%;
    }
    .content_2 .content_item p {
        display: none;
    }
    .content_2 > .content_wrap > .content_images_text  {
        display: inline;
        position: absolute;
        bottom: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(3px);
        color: white;
    }
    .content_2 > .content_wrap > .content_images_text > .content_sub {
        max-width: 1024px;
        height: auto;
        padding: 0 5px;
    }
    .content_2 > .content_wrap > .content_images_text > .content_title {
        width: auto;
    }
    /* --------------컨텐츠 3번------------- */
    .content_3 > .content_wrap > .content_images {
        max-width: 1024px;
        height: 768px;
        gap: 10px;
    }
    .content_3 .content_title {
        font-size: 32px;
    }
    /* --------------컨텐츠 4번------------- */
    .content_4 {
        max-width: 1024px;
        max-height: 768px;
        overflow: hidden;
    }
    .content_4 .content_img {
        max-width: 650px;
        padding-right: 30px;
        max-height: 768px;
        background-size: cover;
        transition: 1s;     
    }
    .content_4 .content_title {
        font-size: 32px;
    }
    .content_4 > .content_text > .content_sub {
        padding-top: 0px;
    }
    .content_4 .content_img {
        max-width: 550px;
        transition: 1s;
    }
    .content_4 .content_img.on {
        max-width: 1024px;
        transition: 1.4s;
    }
    .slick-one {
        max-width: 1024px;
        height: 768px;
    }
    .content_4 > .content_wrap > .content_img_text > .title {
        font-size: 22px;
    }
    .content_4 > .content_wrap > .content_img_text {
        height: 768px;
        top: 0%;
        left: 50%;
        padding-right: 30px;
        transition: 1.4s;
    }
    .content_4 > .content_wrap > .content_img_text.on {
        max-width: 0px;
        left: 92%;
        top: 0%;
        transition: 1.4s;
        overflow: hidden;
    }
    .slick-dots {
        left: 34%;
    }
    .slick-dots.on {
        left: 92%;
        background-color: white;
        transition: 1s;
    }
    /* --------------푸터------------- */
    .footer {
        max-width: 1024px;
    }
    .footer > .footer_wrap > .footer_text > .footer_text_bottom {
        display: none;
    }
}
